{
 :paths ["src"]

 :deps {
   clj-time {:mvn/version "0.14.0"}
 }

 :aliases {
   ;; test src
   :test {:extra-paths ["test"]}

   ;; test.check lib 
   :check {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}}

   ;; benchmarking
   :bench {:extra-deps {criterium {:type :mvn :version "0.4.4"}}}
 }
}
