{
 :deps {
   local/src {:type :file :path "src"}
   clj-time {:type :mvn :version "0.14.0"}
 }
 :aliases {
   ;; running tests
   :test {:extra-deps {local/test-src {:type :file :path "test"}
                       org.clojure/test.check {:type :mvn :version "0.9.0"}}}

   ;; benchmarking
   :bench {:extra-deps {criterium {:type :mvn :version "0.4.4"}}}

   ;; clojure version testing
   :1.9 {:override-deps {org.clojure/clojure {:type :mvn :version "1.9.0-alpha17"}}}
   :1.8 {:override-deps {org.clojure/clojure {:type :mvn :version "1.8.0"}}}
 }
}
